{% extends 'inherit/base.html' %}
{% load static %}
{% load compress %}
{% block 'title' %}sign-up{% endblock 'title' %}
{% block 'content' %}

  <main id="main">


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
  
      <ol>
        <li><a href="{% url 'home:home' %}">Home</a></li>
        <li>Compelete profile</li>
      </ol>
  
  
    </div>
  </section><!-- End Breadcrumbs -->
          
      

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'><link rel="stylesheet" href="{% static 'assets/css/stylee.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-container">
    <form action="" class="form-login" enctype="multipart/form-data" method="post">
      {% csrf_token %}
        <ul class="login-nav">
            <li class="login-nav__item active">
                <a href="#">Compelete profile</a>
            </li>
        </ul>

        <input  name="username" id="id_username" class="login__input" type="hidden" required/>


        <label for="login-input-user" class="login__label">
            First name:
        </label>
        <input  name="first_name" id="id_first_name" class="login__input" type="text" required/>

        <label for="login-input-user" class="login__label">
            Last name:
        </label>
        <input  name="last_name" id="id_last_name" class="login__input" type="text" required/>

        <label for="login-input-email" class="login__label">
            Telephone:
        </label>
        <input name="phone" id="id_phone" placeholder="Email Address" 
         required="" type="tel" class="login__input">


        <label for="login-input-password" class="login__label">
            Address:
        </label>
        <textarea name="address" id="id_address"  required></textareaname>


        <label for="login-input-password" class="login__label">
            Profile Photo:
        </label>
        <input type="file"  name="image" accept="image/*" id="id_image" required>
        

        <button type='submit' class="login__submit" >Compelete</button>
    </form>
    <a href="{% url 'accounts:login' %}" class="login__forgot">Already Have An Account? Sign In</a>
    <br>
    <br>

</div>
<!-- partial -->
    
</body>
</html>
<!-- partial -->
              

  <!-- ======= Footer ======= -->
  {% endblock 'content' %}